
#head
{
    font-size: 18px;
}

.note
{
    color: black;
}

#note2
{
    color: black;
}

canvas
{
    border: 5px white solid;
    border-radius: 20px;
} 

body
{
    background-size: cover;
}
